.sidebar {
    .block-instance {
        border-top: 1px solid #f5f5f5;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        padding: 1.5em;
        &:last-child {
            border-bottom: 1px solid #f5f5f5;
        }
    }
    .panel {
        margin-bottom: 0;
    }
}


